.custom-navbar{

position:sticky;

top:0;

z-index:1000;

padding:12px 0;

backdrop-filter:blur(18px);

transition:.4s;

}

.custom-navbar.light{

background:rgba(255,255,255,.8);

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

.custom-navbar.dark{

background:rgba(20,30,48,.8);

box-shadow:0 10px 30px rgba(0,0,0,.4);

}

.logo{

height:45px;

width:auto;

transition:.35s;

cursor:pointer;

}

.logo:hover{

transform:scale(1.06);

}

.nav-link{

font-weight:600;

margin:0 12px;

transition:.3s;

}

.light .nav-link{

color:#111;

}

.dark .nav-link{

color:white;

}

.nav-link:hover{

color:#6C63FF !important;

transform:translateY(-2px);

}

.search-box{

display:flex;

align-items:center;

padding:8px 16px;

border-radius:50px;

background:white;

width:250px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.dark .search-box{

background:#2d3752;

}

.search-box input{

border:none;

outline:none;

width:100%;

background:none;

padding-left:10px;

color:inherit;

}

.search-icon{

color:#888;

}

.theme-btn{

border:none;

height:45px;

width:45px;

border-radius:50%;

background:linear-gradient(135deg,#7F5AF0,#6246EA);

color:white;

font-size:18px;

transition:.3s;

box-shadow:0 10px 20px rgba(98,70,234,.3);

}

.theme-btn:hover{

transform:rotate(180deg) scale(1.08);

}

@media(max-width:992px){

.search-box{

margin-top:20px;

width:100%;

}

.theme-btn{

margin-top:15px;

}

.nav-link{

margin:10px 0;

}

}