.top-btn{

position:fixed;

bottom:30px;

right:30px;

height:55px;

width:55px;

border:none;

border-radius:50%;

background:linear-gradient(135deg,#7F5AF0,#4F8CFF);

color:white;

font-size:20px;

cursor:pointer;

opacity:0;

pointer-events:none;

transition:.3s;

box-shadow:0 15px 30px rgba(0,0,0,.2);

}

.top-btn.show{

opacity:1;

pointer-events:auto;

}

.top-btn:hover{

transform:translateY(-5px) rotate(360deg);

}