.sidebar{

position:fixed;

top:90px;

left:20px;

width:230px;

padding:20px;

border-radius:20px;

backdrop-filter:blur(18px);

transition:.35s;

z-index:1000;

box-shadow:0 20px 50px rgba(0,0,0,.15);

}

.sidebar.light{

background:rgba(255,255,255,.08);

}

.sidebar.dark{

background:rgba(30, 41, 59, .8);

}

.sidebar.collapsed{

width:80px;

}

.sidebar h3{

text-align:center;

margin-bottom:25px;

color:#7c5cff;

font-weight:700;

}

.toggle-btn{

width:100%;

padding:12px;

margin-bottom:20px;

border:none;

background:none;

cursor:pointer;

font-size:22px;

border-radius:12px;

}

.sidebar.light .toggle-btn{

color:#111827;

}

.sidebar.dark .toggle-btn{

color:white;

}

.sidebar button{

width:100%;

padding:14px;

margin:8px 0;

border:none;

background:none;

border-radius:12px;

display:flex;

align-items:center;

gap:14px;

font-size:16px;

cursor:pointer;

transition:.25s;

}

.sidebar.light button{

color:#111827;

}

.sidebar.dark button{

color:white;

}

.sidebar button:hover{

background:linear-gradient(135deg,#7F5AF0,#4F8CFF);

color:white;

transform:translateX(5px);

}

.sidebar.collapsed button{

justify-content:center;

}

.sidebar.collapsed button span{

display:none;

}

@media(max-width:992px){

.sidebar{

display:none;

}

}